@model IEnumerable<SangalTec.Models.Entities.Proveedor>

@section Styles{ }



<div class="content pt-5">
    <div class="container-fluid ">
        <div class="row  mb-5">
            <div class="col-6">
                <h2 class="text-primary">@ViewBag.Titulo</h2>
            </div>
            <div class="col-6 text-right">
                <a onclick="mostrarModal('@Url.Action("Crear","Proveedores",null,Context.Request.Scheme)','Crear proveedor')" class="btn btn-success"> Crear nuevo proveedor</a>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-striped" id="tabla">
                <thead>
                    <tr class="text-center">
                        <th scope="col">@Html.DisplayNameFor(model => model.ProveedorId)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Nombres)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.InsumoId)</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var proveedor in Model)
                    {
                        <tr class="text-center">
                            <th scope="row">@proveedor.ProveedorId</th>
                            <td>@proveedor.Nombres</td>
                            <td>@proveedor.Insumo.Nombre</td>
                            @if (proveedor.Estado)
                            {
                                <td><span class="btn btn-primary">Habilitado</span></td>
                            }
                            else
                            {
                                <td><span class="btn btn-danger">Deshabilitado</span></td>
                            }
                            <td>
                                <a class="btn btn-success" href="javascript:mostrarModal('@Url.Action("Editar","Proveedores",new{id=proveedor.ProveedorId},Context.Request.Scheme)','Editar proveedor')"><i title="Editar" class="fas fa-edit"></i></a>
                                <a class="btn btn-secondary" href="javascript:mostrarModal('@Url.Action("Detalle","Proveedores",new{id=proveedor.ProveedorId},Context.Request.Scheme)','Detalle del proveedor')"><i class="fas fa-sticky-note"></i></a>
                                <a class="btn btn-danger" href="javascript:Eliminar('@Url.Action("Eliminar", "Proveedores",new{id=proveedor.ProveedorId},Context.Request.Scheme)', 'Proveedor', '¿Desea eliminar el proveedor?')"><i title="Eliminar" class="fas fa-trash-alt"></i></a>
                         


                          

                                @if (proveedor.Estado)
                                {
                                    <a class="btn btn-danger" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Proveedores",new{id=proveedor.ProveedorId},Context.Request.Scheme)','Proveedor', '¿Desea cambiar  el estado del proveedor?')" )"><i title="Deshabilitar proveedor" class="fas fa-unlock"></i></a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Proveedores",new{id=proveedor.ProveedorId},Context.Request.Scheme)','Proveedor', '¿Desea cambiar  el estado del proveedor?')" )"><i title="Habilitar proveedor" class="fas fa-lock"></i></a>
                                }

                            </td>


                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts

{
    <script src="~/js/tabla.js"></script>
    <script src="~/js/site.js"></script>
} 